{% extends "base.html" %}

{% block title %}Visión y Misión{% endblock %}

{% block content %}
<section id="vision-mision">
    <div class="container">
        <h2>Visión y Misión</h2>
        <div class="mission-vision-content">
            <div class="mission">
                <h3>Nuestra Misión</h3>
                <p>Proporcionar servicios de bobinado de motores con la más alta calidad, asegurando la satisfacción de nuestros clientes mediante un servicio eficiente, confiable y a tiempo. Nos esforzamos por mejorar continuamente nuestros procesos y habilidades para ofrecer soluciones innovadoras y sostenibles.</p>
            </div>
            <div class="vision">
                <h3>Nuestra Visión</h3>
                <p>Ser líderes en el mercado de bobinado de motores, reconocidos por nuestra excelencia, innovación y compromiso con la mejora continua. Aspiramos a expandir nuestras capacidades y ofrecer servicios integrales que superen las expectativas de nuestros clientes, contribuyendo al desarrollo y éxito de sus negocios.</p>
            </div>
        </div>
        <div class="contact-info">
            <h3>Contacto</h3>
            <p>Dirección: Las tres marias 2960, San Miguel, Buenos Aires</p>
            <p>Teléfono: +54 11 3521 5902</p>
        </div>
    </div>
</section>
{% endblock %}